.cart-product__img-wrapper img {
    width: 100px;
    height: 100px;
}

.cart-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.cart-product__content {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cart-product__name {
    font-size: 1rem;
}

.cart-product__price {
    font-size: 1.025rem;
    color: #ff514e;
}
