.navbar {
    background-color: var(--background-color);
    height: 60px;
}

.header-logo {
    height: 60px;
    padding: 10px;
}

.navbar-expand-md a:hover {
    color: var(--secondary-color) !important;
}

.header-btn-group .btn-login,
.header-btn-group .btn-register {
    border-radius: 80px;
}

.header-btn-group .btn-login:hover,
.header-btn-group .btn-register:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.header-btn-group .btn-login {
    background-color: var(--light-color);
}

.header-btn-group .btn-login {
    color: var(--text-color);
}

.header-btn-group .btn-register {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.header-btn-group .btn-register:hover {
    color: var(--light-color);
}

.header-avatar {
    font-size: 30px;
    transform: translateX(-65px);
    cursor: pointer;
}

.dropdown {
    display: flex;
    align-items: center;
}

#dropdown-menu {
    transform: translate(-130px, 50px);
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-item {
    cursor: pointer;
}

.ping {
    width: 18px;
    height: 18px;
    background: var(--primary-color);
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.ping:not(.active) {
    display: none;
}

.cart {
    cursor: pointer;
}
