.container {
    margin-top: 80px !important;
}

.register .error {
    text-align: start;
    color: red;
}

@media (min-width: 768px) {
    .register {
        display: flex;
        justify-content: center;
    }
}
